@model IEnumerable<PorraGironaWeb.Models.Entity.Puntuacion>

@{
    ViewData["Title"] = "Puntuacions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idpenyista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuacio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idpenyista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntuacio)
            </td>
@*            <td>
                <a asp-action="Edit" asp-route-id="@item.Idpuntuacio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idpuntuacio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idpuntuacio">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
